@model List<Booking>

<p>This is a test</p>

@if(Model != null){
@foreach(Booking booking in Model){
    <p>@booking.Name</p>
}
}


<a asp-controller="BookingController" asp-action="BookingSearchResults" asp-route-search="test">Click me</a>