@model BookingAddModel

<div class="text-center">
@if(TempData["Error"] != null){

<div class="row pt-3">
    <div class="alert alert-danger pt-3" role="alert">
    @TempData["Error"]
    </div>
</div>
}
</div>



<h1>Add Booking</h1>
<form method="post">
    <div class="row">
        <div class="col-md-6 mb-3">
            <label asp-for="Name" class="form-label"></label>
            <input asp-for="Name" type="text" placeholder="Your Name" class="form-control">
        </div>
        <div class="col-md-6 mb-3">
            <label asp-for="Room" class="form-label"></label>
            <select asp-for="Room" type="text" class="form-select">
            @{
                foreach(string room in Model.RoomsList){
                    <option value="@room">@room Room</option>
                }
            }
            </select>
        </div>
    </div>
    <div class="mb-3">
        <label asp-for="Date" class="form-label"></label>
        <input asp-for="Date" class="form-control">
    </div>
    <div>
        <button class="btn btn-primary" asp-controller="Booking" asp-action="BookingAdd">Submit Booking</button>
    </div>
</form>

@if(TempData["Message"] != null){

<div class="row pt-3">
    <div class="alert alert-danger pt-3" role="alert">
    @TempData["Message"]
    </div>
</div>
}

