@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To The South Parade Booking Portal!</h1>
    <p>We thank you very kindly for using the portal. Don't forget to leave a review!</p>
</div>
