
@{
    ViewData["Title"] = "Home Page";
    
}

<div class="text-center">
    <h1 class="display-4">Welcome To The South Parade Booking Portal!</h1>
    <p>We thank you very kindly for using the portal. Don't forget to leave a review!</p>
    <p>Please note that this entire site runs off of free services, because I am to cheap to pay for 
        fast services. As such the first time you interact with the database (e.g. search booking, add booking etc.) will take about 
        30 seconds or so to warm up. We thank you for your understanding whilst a solution to this issue 
        is being found.
    </p>
</div>


<img class="rounded mx-auto d-block responsive-home" src="https://utfs.io/f/4ULawMmyjNB8YTdxzIcRc6A5eL1aPSFf7GTNOdpZWr4xMsmQ" alt="Booking Logo"/>

