@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Any data you give to us we will sell indiscriminately to the highest bidder. By reading this page you agree
    to these terms!
</p>
